.footer{
    background:#F7F2EA;
    padding: 100px 0px 20px 0px;
}
.footer-inner{
    display: flex;
    flex-direction: column;
}
.footer-main-content{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-products{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.footer-title{
    font-size: 24px;
    font-family: 'Cormorant' , sans-serif;
    font-weight: 400;
}

.footer-menu-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-menu-list-item{
    font-size: 16px;
    font-weight: 300;
}
.footer-quote-touch{
    display: flex;
    gap: 41px;
}
.footer-quote{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 79px;
}

.footer-text{
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    max-width: 269px;
}

.footer-text-author{
    font-size: 12px;
    font-weight: 300;
    max-width: 129px;
}

.footer-stay-touch{
    display: flex;
    flex-direction: column;
    gap: 50px
}

.footer-stay-touch-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}

.footer-stay-touch-text{
    font-size: 13px;
    font-weight: 300;
    max-width: 270px;
}
.footer-stay-touch-details{
    display: flex;
    gap: 40px;
    align-items: center;
}
.footer-stay-touch-details-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 13px;
    font-weight: 300;
}
.footer-stay-touch-details-content p{
    margin-left: 10px; 
}
.footer-container-contact{
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-social-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}


.footer-payment-methods{
    display: flex;
    gap: 192px;
}

.footer-payment-methods-icons{
    display: flex;
    gap: 20px;
    justify-content: first baseline;
}
