@media(max-width:1024px){
    .collections-inner{
        margin-bottom: 120px;
    }
    .collections_title{
        margin-bottom: 30px;
    }
    .collections_menu{
    gap: 0px;
    }
}

@media(max-width:768px){
    .collections_menu{
        flex-wrap:wrap ;
        justify-content: center;
        }
    .collections_title{
        margin-bottom: 40px;
        }
}

@media(max-width:480px){
    .collections-inner{
        margin-bottom: 60px;
    }
}

@media(max-width:384px){
    .collections-inner{
        margin-bottom: 80px;
    }
    .collections_title{
        margin-bottom: 0px;
        font-size: 24px;
    }
}

